@media (max-width:772px){
    body{background: red;}
}

@media (max-width:1100px) and (min-width:773px){
    body{background: blue;}
}

@media (max-width:1600px) and (min-width:1200px){
    body{background: yellow;}
}