.container-destinos{
  display: flex;
  flex-direction: row;
}
img{
  width: 150px;
  height: 100px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.roteiros-viagens{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: rgba(195, 143, 219, 0.582);
  border-radius: 10px;
  padding: 15px;
}
button{
  background-color: rgb(143, 219, 147);
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
ul{
  list-style: none;
  padding: 0;
}

@media (max-width: 800px){
  .container-destinos{
    flex-direction: column;
    align-items: center;
  }
  .roteiros-viagens{
    width: 220px;
  }
}

.roteiro-incluso li::before{
  content: "✔️";
  margin-right: 10px;
}


  